*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3rem;
}

.main-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 70%;
    border: 2px solid red;
}

nav {
    display: flex;
    flex: 1;
    min-height: 200px;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
    background-image: url("images/body-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

section {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border: 2px solid green;
}

nav a,
nav a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.page-links {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-display {
    width: 85%;
    display: flex;
    position: relative;
    transform: translateY(-50%);
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    background-color: white;
}

#search-image {
    display: block;
    object-fit: contain;
    padding-left: 0.5em;
    padding-right: 0.5em;
    flex: 0;
}

input#search-bar {
    padding: 0.5em 0.3em;
    font-size: 1rem;
    border: none;
    outline: none;
    flex: 7;
}

.search-display button {
    color: #374151;
    background-color: white;
    cursor: pointer;
    border-style: none none none solid;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-width: 1px;
    border-color: #D1D5DB;
    flex: 3;
}

.search-results {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 80%;
}

.movie-info {
    width: 100%;
    display: flex;
    font-size: 0.85em;
    border: 2px solid black;
}

.movie-img {
    width: 30%;
    object-fit: contain;
    background-color: white;
}

.movie-metadata {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    padding: 0.5em;
    border: 2px solid orange;
}

.movie-metadata > * {
    border: 2px solid red;
}

/* #metadata-title {
    grid-row: 2;
    grid-column: 2/6;
}

#metadata-time {
    grid-row: 3;
    grid-column: 2;
}

#metadata-plot {
    grid-row: 4;
    grid-column: 2/7;
}

#metadata-genre {
    grid-row: 3;
    grid-column: 3/5;
}

#metadata-year {
    grid-row: 2;
    grid-column: 6/7;
}

#metadata-button {
    grid-row: 3;
    grid-column: 5/7;
} */

#no-data {
    display: block;
    width: 30%;
}


/* Watchlist CSS */
.watchlist-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
}

.watchlist-text p {
    color:#363636;
}

.watchlist-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.watchlist-btn img {
    vertical-align: middle;
}
