*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 3rem;
}

.main-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 55%;
    border: 2px solid red;
}

nav {
    display: flex;
    flex: 1;
    min-height: 200px;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
    background-image: url("images/body-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

section {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-bottom: 1em;
    border: 2px solid green;
}

nav a,
nav a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.page-links {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-display {
    width: 85%;
    display: flex;
    position: relative;
    transform: translateY(-50%);
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    background-color: white;
}

#search-image {
    display: block;
    object-fit: contain;
    padding-left: 0.5em;
    padding-right: 0.5em;
    flex: 0;
}

input#search-bar {
    padding: 0.5em 0.3em;
    font-size: 1rem;
    border: none;
    outline: none;
    flex: 7;
}

.search-display button {
    color: #374151;
    background-color: white;
    cursor: pointer;
    border-style: none none none solid;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-width: 1px;
    border-color: #D1D5DB;
    flex: 3;
}

.search-results {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 80%;
}

.movie-info {
    width: 100%;
    display: flex;
}

.movie-img {
    width: 30%;
    object-fit: contain;
    background-color: white;
}

.movie-metadata {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 1em;
    gap: 2em;
}

.metadata-title-div {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.metadata-small-text {
    font-size: 1.2rem;
}

.metadata-info-div {
    display: flex;
    gap: 1.25em;
}

.hr {
    border-top: 2px solid #D9D9D9;
    width: 100%;
}

.hr:last-of-type {
    border: none;
    display: none;
  }



/* Watchlist CSS */
.watchlist-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
}

.watchlist-text p {
    color:#363636;
}

.watchlist-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.watchlist-btn img {
    vertical-align: middle;
}
